# Image
PYTHON_VERSION=3.12.3
UV_VERSION=0.9.7
BASE_IMAGE=python:3.12.3-slim
TZ=UTC
REGISTRY_HOST=10.0.0.42:32315
ORG_NAME=gtelmaps
REPO_NAME=fastapi-boilerplate
IMAGE_TAG=0.1.0

# Metadata
IMAGE_TITLE="FastAPI Boilerplate"
IMAGE_DESCRIPTION="A development-ready FastAPI boilerplate"
IMAGE_SOURCE="https://github.com/gtelots/fastapi-boilerplate"
IMAGE_DOCUMENTATION="https://github.com/gtelots/fastapi-boilerplate/docs"
IMAGE_VENDOR="GTEL OTS"
IMAGE_AUTHORS="laragis <laragis.ots@gmail.com>"
IMAGE_LICENSES=MIT
IMAGE_CREATED=2025-01-01T12:00:00Z

# Environment
APP_ENV=development
APP_DEBUG=true
APP_SQLALCHEMY_DEBUG=true
APP_TESTING=false
APP_LOG_LEVEL=DEBUG
APP_PORT=8000
APP_FORWARD_PORT=8000

# CORS
APP_CORS_ORIGINS='["http://localhost:3000", "http://127.0.0.1:3000", "https://github.com"]'
APP_ALLOWED_HOSTS='["localhost:3000", "127.0.0.1:3000"]'

# Frontend
APP_FRONTEND_BASE_URL="http://127.0.0.1:3000"
APP_FRONTEND_DEFAULT_RETURN_PATH="/"

# Database
APP_POSTGRES_USER=postgres
APP_POSTGRES_PWD=postgres
APP_POSTGRES_HOST=127.0.0.1
APP_POSTGRES_PORT=5432
APP_POSTGRES_DATABASE=postgres

# Redis
APP_REDIS_HOST=127.0.0.1
APP_REDIS_PORT=6379
APP_REDIS_DB=0

# Sentry (optional)
APP_SENTRY_DSN="*** REPLACE ***"

# Logfire (optional)
APP_LOGFIRE_TOKEN="*** REPLACE ***"

# OpenAI (optional)
APP_OPENAI_API_KEY="*** REPLACE ***"
APP_OPENAI_MODEL="*** REPLACE ***"

# Application behaviours
APP_API_PAGINATION_MAX_LIMIT=100
APP_WORKER_MAX_RETRIES=20
